<div class="caption is-size-3">
    Daily Schedule by Location
</div>
<div style="margin: auto; padding: 20px; width: 80%;">
    <div class="span_table">
        <div class="row">
            <span style="width: 35%; border-bottom: 0; padding-top: 30px;" class="cell has-background-grey-lighter">
                <div class="container has-background-grey-lighter">
                    Pick Location
                </div>
            </span>
            <span style="width: 65%; border-bottom: 0; border: 3px solid #DBDBDB; padding-bottom: 10px;" class="cell">
                <div class="select" (change) = "changeLocation($event)">
                    <select id="locSelect">
                        <option value="">-- Select Location --</option>
                        <option *ngFor="let l of locations" [value]="l.facilityId">
                            {{l.facilityName}}
                        </option>
                    </select>
                </div>
            </span>
        </div>
    </div>
</div>
<div *ngIf="isHidden">
    <div class="caption is-size-3">
        {{currentLocation}}
    </div>
    <div style="margin: auto; padding: 20px; width: 50%;">
        <div class="span_table">
            <div class="row">
                <span class="cell">
                    Week Start Date:
                </span>
                <span class="cell">
                    <input type="date" (change) = "selectDate($event)" />
                </span>
            </div>
        </div>
    </div>
    <div style="margin: auto; padding: 20px; width: 80%;">
        <div class="span_table">
            <div class="header-row row">
                <span class="cell">
                    Name
                </span>
                <span class="cell">
                    Type
                </span>
                <span class="cell">
                    Monday
                </span>
                <span class="cell">
                    Tuesday
                </span>
                <span class="cell">
                    Wednesday
                </span>
                <span class="cell">
                    Thursday
                </span>
                <span class="cell">
                    Friday
                </span>
                <span class="cell">
                    Saturday
                </span>
                <span class="cell">
                    Sunday
                </span>
            </div>
            <div class="row" *ngFor="let schedule of schedules">
                <span style="width: 12%;" class="cell">
                    {{schedule.teammateName}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.teammateType}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.monday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.tuesday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.wednesday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.thursday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.friday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.saturday}}
                </span>
                <span style="width: 11%;" class="cell">
                    {{schedule.sunday}}
                </span>
            </div>
        </div>
    </div>
</div>




